* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 20% 0;
}

p,
h1,
form {
    margin: auto;
    width: 25%;
    text-align: center;
}

.msg-variavel {
    margin-bottom: 8px;
    background-color: green;
    display: none;
    padding: 8px;
    color: white;
}

h1 {
    margin-bottom: 16px;
}

form input,
form button {
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

form button {
    background-color: orange;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

form button:hover {
    background-color: rgb(255, 217, 0);
}