/* Estilização usando Tags */

h1 {
    color: gray;
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

/* Estilização usando ID */

#entretenimento h2 {
    color: orangered;
}

#esportes h2 {
    color: green;
}

#economia h2 {
    color: darkblue;
}

#tecnologia h2 {
    color: blueviolet;
}

/* Estilização usando Classes */

.tempo {
    color: gray;
}

/* Estilização universal */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: lightgrey;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    background-color:grey;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
}

header li a:hover {
    font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

section {
    padding: 16px 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 48%;
    margin-bottom: 16px;

}

.articles article h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.articles article a {
    background-color: orangered;
    color: white;
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
}

#esportes .articles article a {
    background-color: green;
}

#economia .articles article a {
    background-color: darkblue;
}

#tecnologia .articles article a {
    background-color: blueviolet;
}

.articles article a:hover {
    font-weight: bold;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#entretenimento {
    background-color: rgba(255, 50, 0, 0.1);
}

#economia {
    background-color: rgba(0, 0, 255, 0.1);
}

#tecnologia {
    background-color: rgba(150, 0, 255, 0.1);
}